USE [DBVEHICULOS]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 11/8/2022 8:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[EDAD] [int] NULL,
	[idEstatus] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usrESTATUS]    Script Date: 11/8/2022 8:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrESTATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_usrESTATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULOS]    Script Date: 11/8/2022 8:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MARCA] [nvarchar](50) NULL,
	[MODELO] [nvarchar](50) NULL,
	[NYEAR] [int] NULL,
	[CONDICION] [nvarchar](50) NULL,
	[ESTATUS] [int] NULL,
	[PRECIO] [float] NULL,
	[FOTO] [text] NULL,
 CONSTRAINT [PK_VEHICULOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vhCONDICION]    Script Date: 11/8/2022 8:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vhCONDICION](
	[IDCONDICION] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_vhCONDICION] PRIMARY KEY CLUSTERED 
(
	[IDCONDICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vhESTATUS]    Script Date: 11/8/2022 8:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vhESTATUS](
	[ESTATUS] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_mESTATUS] PRIMARY KEY CLUSTERED 
(
	[ESTATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_usrESTATUS] FOREIGN KEY([idEstatus])
REFERENCES [dbo].[usrESTATUS] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_usrESTATUS]
GO
ALTER TABLE [dbo].[VEHICULOS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULOS_VEHICULOS] FOREIGN KEY([ESTATUS])
REFERENCES [dbo].[vhESTATUS] ([ESTATUS])
GO
ALTER TABLE [dbo].[VEHICULOS] CHECK CONSTRAINT [FK_VEHICULOS_VEHICULOS]
GO
